*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
com/example/artgallery/Entities/ChatHubItem.java
com/example/artgallery/Adapters/ChatHubAdapter.java
app/src/main/java/com/example/artgallery/Adapters/ChatHubAdapter.java
app/src/main/java/com/example/artgallery/Entities/ChatHubItem.java
java/com/example/artgallery/Adapters/ChatHubAdapter.java